* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: whitesmoke;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 350px;
  align-items: center;
  padding: 40px;
  font-size: 25px;
}

.headername {
  opacity: 0.3;
}

.navlists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 75px;
  list-style: none;
}

.navlists a {
  color: red;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.navlists a::after {
  content: "";
  position: absolute;
  background: white;
  width: 0%;
  height: 3.5px;
  border-radius: 20px;
  left: 0px;
  top: 38px;
  transition: width 0.1s ease;
}

.navlists a:hover::after {
  width: 100%;
}

/* Basic Intro */
.basic_intro {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileimage {
  background-color: cyan;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border-width: 5px;
  border-style: double;
  border-color: white;
}

.selfintro {
  padding: 10px 100px 50px 150px;
  text-align: center;
}

.intro_tag1 {
  color: red;
  font-size: 25px;
  padding: 2px;
}

.intro_tag2 {
  padding: 5px;
  font-size: 40px;
}

.intro_tag3 {
  padding: 10px;
  color: red;
  font-size: 40px;
  margin-bottom: 20px;
}

.selfintro a.Download_cv,
.selfintro a.contact_info {
  padding: 20px 30px 20px 30px;
  font-size: 15px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.selfintro a.Download_cv:hover {
  opacity: 0.7;
}

.selfintro a.contact_info {
  background-color: black;
  border: red 2px solid;
}

.selfintro a.contact_info:hover {
  opacity: 0.7;
}

.linkedin img,
.git img,
.hacker_rank img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
}

/* About Me */
.about_me {
  padding-top: 40px;
}

.about_me_top {
  text-align: center;
}

.about_me_tag1 {
  font-size: 20px;
  color: whitesmoke;
}

.about_me_tag2 {
  font-size: 40px;
  color: red;
  padding: 10px;
}

.about_me_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 100px 10px 100px;
}

.about_image {
  width: 400px;
  height: auto;
  border-radius: 50px;
  margin: -20px 100px 100px 100px;
}

.about_me_para {
  font-size: 18px;
}

/* Skills */
.skills {
  padding-top: 50px;
}

.skills_top {
  text-align: center;
}

.skills_tag1 {
  font-size: 20px;
  color: whitesmoke;
}

.skills_tag2 {
  font-size: 40px;
  color: red;
  padding: 10px;
}

.skills_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin: 50px auto 180px auto;
  padding: 40px;
  width: 80%;
  box-shadow: 0px 0px 50px rgba(255, 0, 0, 0.9);
  border-radius: 80px;
  justify-items: center;
}

.skills_fulltag {
  display: flex;
  flex-direction: row;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.language {
  font-size: 23px;
  font-weight: 700;
}

.level {
  color: red;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

/* Projects */
.projects {
  padding-top: 10px;
}

.projects_top {
  text-align: center;
}

.projects_tag1 {
  font-size: 20px;
  color: whitesmoke;
}

.projects_tag2 {
  font-size: 40px;
  color: red;
  padding: 10px;
}

.project_section1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 80px;
  justify-content: center;
}

.project1,
.project2 {
  width: 400px;
  padding: 25px;
  box-shadow: 0px 0px 50px rgba(255, 0, 0, 0.9);
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project1 {
  margin-left: 80px;
}

.project2 {
  margin-left: 60px;
}

.project1 .live_demo :hover,
.project2 .live_demo :hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.proj_image_section img {
  border-radius: 20px;
  margin-bottom: 30px;
}

.proj_line_section h2 {
  font-weight: 800;
  font-variant: small-caps;
  font-size: 25px;
  padding-bottom: 10px;
}

.project1 .live_demo,
.project2 .live_demo {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.project1 a,
.project2 a {
  text-decoration: none;
  color: white;
  background-color: transparent;
  box-shadow: 0px 0px 9px rgba(255, 0, 0, 0.9);
  padding: 15px 40px 15px 40px;
  border-radius: 50px;
  font-size: medium;
}

.project_section2 {
  margin: 60px 40px 60px 40px;
}

.view_more_btn {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 15px 40px 15px 40px;
  border-radius: 50px;
  margin-top: 40px;
  font-size: medium;
}

.view_more_btn:hover {
  opacity: 0.7;
}

/* Contact */
.contact {
  padding-top: 50px;
  text-align: center;
}

.contact_top {
  text-align: center;
}

.contact_tag1 {
  font-size: 20px;
  color: whitesmoke;
}

.contact_tag2 {
  font-size: 40px;
  color: red;
  padding: 10px;
}

.contact_content {
  display: flex;
  flex-direction: row;
  width: 500px;
  box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.9);
  border-radius: 30px;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  margin: 30px auto 50px auto;
}

.contact_mail {
  display: flex;
  flex-direction: row;
}

.contact_mail h2:hover {
  opacity: 0.7;
}

.contact_linkedin {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.contact_linkedin h2:hover {
  opacity: 0.7;
}

.contact_content a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

/* Bottom Navbar */
.bottom_navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 75px;
  list-style: none;
  font-size: 25px;
  margin-bottom: 20px;
}

.bottom_navbar a {
  color: red;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.bottom_navbar a::after {
  content: "";
  position: absolute;
  background: white;
  width: 0%;
  height: 3.5px;
  border-radius: 20px;
  left: 0px;
  top: 35px;
  transition: width 0.1s ease;
}

.bottom_navbar a:hover::after {
  width: 100%;
}

.footer {
  color: gray;
  margin-top: 100px;
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: grey;
}

/* Desktop */
@media (min-width: 1751px) {

  /* Navbar */
  .navbar {
    justify-content: center;
    font-size: 50px;
    margin-left: 50px;
  }

  .navlists a::after {
    top: 80px;
    height: 5px;
  }

  /* Basic intro */
  .basic_intro {
    margin-top: 200px;
    justify-content: center;
    margin-left: 100px;
    padding-bottom: 100px;
  }

  .profileimage {
    width: 700px;
    height: 700px;
  }

  .intro_tag1 {
    font-size: 50px;
  }

  .intro_tag2 {
    font-size: 70px;
  }

  .intro_tag3 {
    font-size: 70px;
  }

  .selfintro a.Download_cv,
  .selfintro a.contact_info {
    font-size: 30px;
    padding: 20px 40px 20px 40px;
    border-radius: 70px;
  }

  .linkedin img,
  .git img,
  .hacker_rank img {
    height: 70px;
    width: 70px;
  }

  /* About me */
  .about_me {
    padding: 70px;
  }

  .about_me_tag1 {
    font-size: 35px;
  }

  .about_me_tag2 {
    font-size: 55px;
  }

  .about_me_content {
    justify-content: center;
  }

  .about_image {
    width: 700px;
    height: 700px;
  }

  .about_me_para {
    font-size: 35px;
  }

  /* Skills */
  .skills {
    padding-top: 120px;
    padding-bottom: 150px;
  }

  .skills_tag1 {
    font-size: 35px;
  }

  .skills_tag2 {
    font-size: 55px;
  }

  .skills_content {
    width: 76%;
    gap: 100px;
  }

  .skills_fulltag img {
    width: 45px;
    height: 45px;
  }

  .skills_fulltag {
    width: auto;
    padding: 30px;
  }

  .language {
    font-size: 40px;
  }

  .level {
    font-size: 33px;
  }

  /* Projects */
  .projects {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .projects_tag1 {
    font-size: 35px;
  }

  .projects_tag2 {
    font-size: 55px;
  }

  .project1,
  .project2 {
    width: 800px;
    padding: 35px;
  }

  .proj_image_section img {
    width: 530px;
    height: 400px;
  }

  .proj_line_section h2 {
    font-size: 40px;
  }

  .proj_line_section p {
    font-size: 28px;
  }

  .project1 .live_demo,
  .project2 .live_demo {
    margin: 50px;
  }

  .project1 a,
  .project2 a {
    font-size: 30px;
  }

  .project_section2 {
    margin-top: 100px;
  }

  .view_more_btn {
    font-size: 30px;
  }

  /* contact */
  .contact_tag1 {
    font-size: 35px;
    padding-bottom: 15px;
  }

  .contact_tag2 {
    font-size: 55px;
    padding-bottom: 30px;
  }

  .contact_content {
    width: 800px;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;
  }

  .contact_mail img,
  .contact_linkedin img {
    width: 50px;
    height: 50px;
  }

  .contact_mail h2,
  .contact_linkedin h2 {
    font-size: 38px;
  }

  .bottom_navbar {
    justify-content: center;
    font-size: 50px;
    margin-left: 50px;
  }

  .bottom_navbar a::after {
    top: 80px;
    height: 5px;
  }

  .footer {
    font-size: 25px;
  }
}

/* Only for skills section  */
@media (min-width: 2050px) {
  .skills_content {
    justify-content: center;
    grid-template-columns: repeat(auto-fit,
        minmax(280px, 1fr));
    /* increase min width */
  }
}

@media (min-width: 1170px) and (max-width: 1353px) {
  .skills_content {
    justify-content: center;
    grid-template-columns: repeat(auto-fit,
        minmax(200px, 1fr));
    /* increase min width */
  }

  .skills_fulltag {
    margin-left: 80px;
    flex-direction: row;
    align-items: center;
  }
}

/* For Tab  */

@media (min-width: 768px) and (max-width: 1169px) {

  /* Navbar */
  .navbar {
    flex-direction: row;
    font-size: 28px;
    gap: 30px;
    justify-content: space-around;
    padding: 20px 10px 20px 10px;
  }

  .headername {
    white-space: nowrap;
  }

  .navlists {
    flex-direction: row;
    gap: 25px;
  }

  /* Intro Section */
  .basic_intro {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
  }

  .profileimage {
    width: 380px;
    height: 380px;
    margin-bottom: 20px;
  }

  .selfintro {
    padding: 10px;
  }

  .intro_tag1 {
    font-size: 25px;
  }

  .intro_tag2 {
    font-size: 35px;
  }

  .intro_tag3 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .selfintro a.Download_cv,
  .selfintro a.contact_info {
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 50px;
    font-weight: 400;
  }

  .linkedin img,
  .git img,
  .hacker_rank img {
    height: 50px;
    width: 50px;
  }

  /* About Me Section */
  .about_me_content {
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
  }

  .about_image {
    width: 400px;
    height: 400px;
    margin: 40px 0;
  }

  .about_me_para {
    font-size: 25px;
    margin: 30px 10px 10px 10px;
  }

  /* Skills Section */
  .skills_content {
    justify-content: center;
    grid-template-columns: repeat(auto-fit,
        minmax(190px, 1fr));
    /* increase min width */
  }

  .skills_fulltag {
    margin-left: 80px;
    flex-direction: row;
    align-items: center;
  }

  .language {
    font-size: 25px;
  }

  .level {
    font-size: 18px;
  }

  /* Projects Section */
  .project_section1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project2 {
    margin-left: 80px;
    margin-top: 50px;
  }

  .project1,
  .project2 {
    width: 500px;
    padding: 30px;
  }

  .proj_image_section img {
    width: 400px;
    height: 280px;
  }

  .proj_line_section h2 {
    font-size: 35px;
  }

  .view_more_btn {
    font-size: 25px;
  }

  /* Contact Section */
  .contact_content {
    width: fit-content;
  }

  .contact_mail,
  .contact_linkedin {
    font-size: 20px;
  }

  .contact_mail img,
  .contact_linkedin img {
    width: 35px;
    height: 35px;
  }

  /* Bottom Navbar */
  .bottom_navbar {
    font-size: 35px;
  }

  /* Footer */
  .footer {
    font-size: 25px;
  }
}

/* For Mobiles */

@media (min-width: 531px) and (max-width: 767px) {

  /* Navbar */
  .navbar {
    flex-direction: row;
    font-size: 25px;
    margin-left: 0px;
    justify-content: center;
    padding: 20px 10px 20px 10px;
  }

  .headername {
    white-space: nowrap;
    display: none;
  }

  .navlists {
    flex-direction: row;
    gap: 30px;
  }

  /* Intro Section */
  .basic_intro {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
  }

  .profileimage {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }

  .selfintro {
    padding: 10px;
  }

  .intro_tag1 {
    font-size: 25px;
  }

  .intro_tag2 {
    font-size: 35px;
  }

  .intro_tag3 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .selfintro a.Download_cv,
  .selfintro a.contact_info {
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 50px;
    font-weight: 400;
  }

  .linkedin img,
  .git img,
  .hacker_rank img {
    height: 50px;
    width: 50px;
  }

  /* About Me Section */
  .about_me_content {
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
  }

  .about_image {
    width: 400px;
    height: 400px;
    margin: 40px 0;
  }

  .about_me_para {
    font-size: 25px;
    margin: 30px 10px 10px 10px;
  }

  /* Skills Section */

  .skills_content {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;
    padding: 20px;
    width: 90%;
  }

  .skills_fulltag {
    margin-left: 80px;
    flex-direction: row;
    align-items: center;
  }

  .language {
    font-size: 25px;
  }

  .level {
    font-size: 18px;
  }

  /* Projects Section */
  .project_section1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  .project2 {
    margin-left: 80px;
    margin-top: 50px;
  }

  .project1,
  .project2 {
    width: 500px;
    padding: 30px;
  }

  .proj_image_section img {
    width: 400px;
    height: 280px;
  }

  .proj_line_section h2 {
    font-size: 35px;
  }

  .view_more_btn {
    font-size: 25px;
  }

  /* Contact Section */
  .contact_content {
    width: fit-content;
  }

  .contact_mail,
  .contact_linkedin {
    font-size: 15px;
  }

  .contact_mail img,
  .contact_linkedin img {
    width: 25px;
    height: 25px;
  }

  /* Bottom Navbar */
  .bottom_navbar {
    font-size: 25px;
    gap: 40px;
  }

  /* Footer */
  .footer {
    font-size: 25px;
  }
}

@media (min-width: 531px) and (max-width: 630px) {
  .navlists {
    margin-left: 45px;
  }
}

/* For mobiles */
@media (max-width: 530px) {

  /* Navbar */
  .navbar {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    padding: 15px;
  }

  .headername {
    display: none;
  }

  .navlists {
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }

  /* Intro Section */
  .basic_intro {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
  }

  .profileimage {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
  }

  .selfintro {
    padding: 0 15px;
  }

  .intro_tag1 {
    font-size: 20px;
  }

  .intro_tag2 {
    font-size: 26px;
  }

  .intro_tag3 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .selfintro a.Download_cv,
  .selfintro a.contact_info {
    padding: 10px 20px;
    font-size: 14px;
    margin: 5px;
  }

  .linkedin img,
  .git img,
  .hacker_rank img {
    height: 30px;
    width: 30px;
  }

  /* About Me Section */
  .about_me_content {
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
  }

  .about_image {
    width: 200px;
    height: 200px;
    margin: 20px 0;
  }

  .about_me_para {
    font-size: 16px;
    margin: 10px;
  }

  /* Skills Section */
  .skills_content {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;
    padding: 20px;
    width: 90%;
  }

  .skills_fulltag {
    margin-left: 80px;
    flex-direction: row;
    align-items: center;
  }

  .language {
    font-size: 18px;
  }

  .level {
    font-size: 14px;
  }

  /* Projects Section */
  .projects .project_section1 {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .project1,
  .project2 {
    width: 90%;
    padding: 20px;
    margin: 20px 0;
  }

  .proj_image_section img {
    width: 100%;
    height: auto;
  }

  .proj_line_section h2 {
    font-size: 22px;
  }

  .view_more_btn {
    font-size: 18px;
  }

  /* Contact Section */
  .contact_content {
    flex-direction: row;
    width: fit-content;
    padding: 5px;
  }

  .contact_mail,
  .contact_linkedin {
    margin: 5px 10px;
    font-size: 10px;
    flex-direction: row;
    align-items: center;
  }

  .contact_content img {
    width: 20px;
    height: 20px;
    margin-right: 0px;
  }

  /* Bottom Navbar */
  .bottom_navbar {
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  /* Footer */
  .footer {
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 425px) {

  .live_demo {
    font-size: 14px;
  }
}

@media (min-width: 330px) and (max-width: 425px) {
  .project_section1 {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .project1,
  .project2 {
    width: 95%;
    padding: 15px;
    margin: 10px 0;
  }

  .proj_image_section img {
    width: 100%;
    height: auto;
  }

  .proj_line_section h2 {
    font-size: 18px;
  }

  .proj_line_section p {
    font-size: 14px;
  }

  .live_demo {
    flex-direction: column;
    gap: 10px;
  }

  .project1 a,
  .project2 a {
    padding: 10px 20px;
    font-size: 14px;
  }
}